validator/src/main/resources/schema/mathml3.0/mathml3-cds-pragmatic.rnc

default namespace m = 'http://www.w3.org/1998/Math/MathML'
opel.application |= lcm_arith1_elt
lcm_arith1_elt |= element m:lcm {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= lcm_arith1_elt
opel.application |= gcd_arith1_elt
gcd_arith1_elt |= element m:gcd {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= gcd_arith1_elt
opel.application |= plus_arith1_elt
plus_arith1_elt |= element m:plus {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}

opel.application |= minus_arith1_elt
minus_arith1_elt |= element m:minus {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= times_arith1_elt
times_arith1_elt |= element m:times {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= divide_arith1_elt
divide_arith1_elt |= element m:divide {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= power_arith1_elt
power_arith1_elt |= element m:power {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= abs_arith1_elt
abs_arith1_elt |= element m:abs {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= root_arith1_elt
root_arith1_elt |= element m:root {MathML.Common.attrib,Definition.attrib?,attribute type {"real" | "complex" | "principal_branch" | MathMLType}?}
opel.application |= sum_arith1_elt
sum_arith1_elt |= element m:sum {MathML.Common.attrib,Definition.attrib?}
opel.binder |= sum_arith1_elt
opel.application |= product_arith1_elt
product_arith1_elt |= element m:product {MathML.Common.attrib,Definition.attrib?}
opel.binder |= product_arith1_elt
opel.application |= diff_calculus1_elt
diff_calculus1_elt |= element m:diff {MathML.Common.attrib,Definition.attrib?,attribute type {"function" | "algebraic"}?}
opel.binder |= diff_calculus1_elt
opel.application |= partialdiff_calculus1_elt
partialdiff_calculus1_elt |= element m:partialdiff {MathML.Common.attrib,Definition.attrib?,attribute type {"function" | "algebraic"}?}
opel.application |= int_calculus1_elt
int_calculus1_elt |= element m:int {MathML.Common.attrib,Definition.attrib?}
opel.application |= defint_calculus1_elt
defint_calculus1_elt |= element m:defint {MathML.Common.attrib,Definition.attrib?}
opel.binder |= diff_calculus3_elt
diff_calculus3_elt |= element m:diff {MathML.Common.attrib,Definition.attrib?,attribute type {"function" | "algebraic"}?}
opel.binder |= diff_calculus3_elt
opel.binder |= partialdiff_calculus3_elt
partialdiff_calculus3_elt |= element m:partialdiff {MathML.Common.attrib,Definition.attrib?,attribute type {"function" | "algebraic"}?}
opel.binder |= int_calculus3_elt
int_calculus3_elt |= element m:int {MathML.Common.attrib,Definition.attrib?}
opel.binder |= defint_calculus3_elt
defint_calculus3_elt |= element m:defint {MathML.Common.attrib,Definition.attrib?}

opel.application |= real_complex1_elt
real_complex1_elt |= element m:real {MathML.Common.attrib,Definition.attrib?}
opel.application |= imaginary_complex1_elt
imaginary_complex1_elt |= element m:imaginary {MathML.Common.attrib,Definition.attrib?}

opel.application |= argument_complex1_elt
argument_complex1_elt |= element m:arg {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= conjugate_complex1_elt
conjugate_complex1_elt |= element m:conjugate {MathML.Common.attrib,Definition.attrib?}
opel.application |= domain_fns1_elt
domain_fns1_elt |= element m:domain {MathML.Common.attrib,Definition.attrib?}
opel.application |= range_fns1_elt
range_fns1_elt |= element m:codomain {MathML.Common.attrib,Definition.attrib?}
opel.application |= image_fns1_elt
image_fns1_elt |= element m:image {MathML.Common.attrib,Definition.attrib?}
opel.application |= identity_fns1_elt
identity_fns1_elt |= element m:ident {MathML.Common.attrib,Definition.attrib?}
opel.application |= inverse_fns1_elt
inverse_fns1_elt |= element m:inverse {MathML.Common.attrib,Definition.attrib?}
opel.application |= left_compose_fns1_elt
left_compose_fns1_elt |= element m:compose {MathML.Common.attrib,Definition.attrib?}
opel.application |= compose_fns1_elt
compose_fns1_elt |= element m:compose {MathML.Common.attrib,Definition.attrib?}
opel.binder |= lambda_fns1_elt
lambda_fns1_elt |= element m:lambda {MathML.Common.attrib,Definition.attrib?,ContExp*}
lambda_fns1_elt |= element m:lambda {MathML.Common.attrib,Definition.attrib?,bvar*,qualifier?,ContExp*}
container |= lambda_fns1_elt
opel.application |= condition_fns1_elt
condition_fns1_elt |= element m:lambda {MathML.Common.attrib,Definition.attrib?,ContExp*}
condition_fns1_elt |= element m:lambda {MathML.Common.attrib,Definition.attrib?,bvar*,qualifier?,ContExp*}
container |= condition_fns1_elt
opel.application |= factorof_integer1_elt
factorof_integer1_elt |= element m:factorof {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= factorial_integer1_elt
factorial_integer1_elt |= element m:factorial {MathML.Common.attrib,Definition.attrib?}
opel.application |= quotient_integer1_elt
quotient_integer1_elt |= element m:quotient {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= remainder_integer1_elt
remainder_integer1_elt |= element m:rem {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= interval_interval1_elt
interval_interval1_elt |= element m:interval {MathML.Common.attrib,Definition.attrib?,attribute type {"closed" | "open" | "open-closed" | "closed-open" | "integer"}?,attribute type {MathMLType}?,ContExp*}
interval_interval1_elt |= element m:interval {MathML.Common.attrib,Definition.attrib?,attribute type {"closed" | "open" | "open-closed" | "closed-open" | "integer"}?,attribute type {MathMLType}?,bvar*,qualifier?,ContExp*}
container |= interval_interval1_elt
opel.application |= interval_oo_interval1_elt
interval_oo_interval1_elt |= element m:interval {MathML.Common.attrib,Definition.attrib?,attribute closure {"open"},ContExp*}
opel.application |= interval_cc_interval1_elt
interval_cc_interval1_elt |= element m:interval {MathML.Common.attrib,Definition.attrib?,attribute closure {"closed"},ContExp*}
opel.application |= interval_oc_interval1_elt
interval_oc_interval1_elt |= element m:interval {MathML.Common.attrib,Definition.attrib?,attribute closure {"open-closed"},ContExp,ContExp}
opel.application |= interval_co_interval1_elt
interval_co_interval1_elt |= element m:interval {MathML.Common.attrib,Definition.attrib?,attribute closure {"closed-open"},ContExp,ContExp}
opel.application |= limit_limit1_elt
limit_limit1_elt |= element m:limit {MathML.Common.attrib,Definition.attrib?}
opel.binder |= limit_limit1_elt

opel.constant |= above_limit1_elt
above_limit1_elt |= element m:above {MathML.Common.attrib,Definition.attrib?}
opel.constant |= below_limit1_elt
below_limit1_elt |= element m:below {MathML.Common.attrib,Definition.attrib?}
opel.constant |= null_limit1_elt
null_limit1_elt |= element m:null {MathML.Common.attrib,Definition.attrib?}
opel.application |= tendsto_limit1_elt
tendsto_limit1_elt |= element m:tendsto {MathML.Common.attrib,Definition.attrib?,attribute type {"above" | "below" | "two-sided" | MathMLType}?}
opel.application |= vectorproduct_linalg1_elt
vectorproduct_linalg1_elt |= element m:vectorproduct {MathML.Common.attrib,Definition.attrib?}
opel.application |= scalarproduct_linalg1_elt
scalarproduct_linalg1_elt |= element m:scalarproduct {MathML.Common.attrib,Definition.attrib?}
opel.binder |= scalarproduct_linalg1_elt
opel.application |= outerproduct_linalg1_elt
outerproduct_linalg1_elt |= element m:outerproduct {MathML.Common.attrib,Definition.attrib?}
opel.binder |= outerproduct_linalg1_elt
opel.application |= transpose_linalg1_elt
transpose_linalg1_elt |= element m:transpose {MathML.Common.attrib,Definition.attrib?}
opel.application |= determinant_linalg1_elt
determinant_linalg1_elt |= element m:determinant {MathML.Common.attrib,Definition.attrib?}
opel.application |= vector_selector_linalg1_elt
vector_selector_linalg1_elt |= element m:selector {MathML.Common.attrib,Definition.attrib?}

opel.application |= vector_linalg2_elt
vector_linalg2_elt |= element m:vector {MathML.Common.attrib,Definition.attrib?,attribute type {"row"|MathMLType}?,ContExp*}
vector_linalg2_elt |= element m:vector {MathML.Common.attrib,Definition.attrib?,attribute type {"row"|MathMLType}?,bvar*,qualifier?,ContExp*}
container |= vector_linalg2_elt
opel.application |= matrixrow_linalg2_elt
matrixrow_linalg2_elt |= element m:matrixrow {MathML.Common.attrib,Definition.attrib?,ContExp*}
matrixrow_linalg2_elt |= element m:matrixrow {MathML.Common.attrib,Definition.attrib?,bvar*,qualifier?,ContExp*}
container |= matrixrow_linalg2_elt
opel.application |= matrix_linalg2_elt
matrix_linalg2_elt |= element m:matrix {MathML.Common.attrib,Definition.attrib?,attribute type {"real" | "complex" | "integer" | "symbolic" | MathMLType}?,ContExp*}
matrix_linalg2_elt |= element m:matrix {MathML.Common.attrib,Definition.attrib?,attribute type {"real" | "complex" | "integer" | "symbolic" | MathMLType}?,bvar*,qualifier?,ContExp*}
container |= matrix_linalg2_elt
opel.application |= vector_linalg3_elt
vector_linalg3_elt |= element m:vector {MathML.Common.attrib,Definition.attrib?,attribute type {"column" | MathMLType}?,ContExp*}
vector_linalg3_elt |= element m:vector {MathML.Common.attrib,Definition.attrib?,attribute type {"column" | MathMLType}?,bvar*,qualifier?,ContExp*}
container |= vector_linalg3_elt
opel.application |= matrixcolumn_linalg3_elt
matrixcolumn_linalg3_elt |= element m:matrixcolumn {MathML.Common.attrib,Definition.attrib?}
opel.application |= matrix_linalg3_elt
matrix_linalg3_elt |= element m:matrix {MathML.Common.attrib,Definition.attrib?}
opel.application |= vector_linalg6_elt
vector_linalg6_elt |= element m:vector {MathML.Common.attrib,Definition.attrib?,attribute type {"row"|MathMLType}?,ContExp*}
vector_linalg6_elt |= element m:vector {MathML.Common.attrib,Definition.attrib?,attribute type {"row"|MathMLType}?,bvar*,qualifier?,ContExp*}
container |= vector_linalg6_elt
opel.application |= matrix_linalg6_elt
matrix_linalg6_elt |= element m:matrix {MathML.Common.attrib,Definition.attrib?,attribute type {"real" | "complex" | "integer" | "symbolic" | MathMLType}?,ContExp*}
matrix_linalg6_elt |= element m:matrix {MathML.Common.attrib,Definition.attrib?,attribute type {"real" | "complex" | "integer" | "symbolic" | MathMLType}?,bvar*,qualifier?,ContExp*}
container |= matrix_linalg6_elt
opel.application |= list_list1_elt
list_list1_elt |= element m:list {MathML.Common.attrib,Definition.attrib?,attribute order {"lexicographic" | "numeric"}?,ContExp*}
list_list1_elt |= element m:list {MathML.Common.attrib,Definition.attrib?,attribute order {"lexicographic" | "numeric"}?,bvar*,qualifier?,ContExp*}
container |= list_list1_elt
opel.application |= list_selector_list2_elt
list_selector_list2_elt |= element m:selector {MathML.Common.attrib,Definition.attrib?}
opel.application |= equivalent_logic1_elt
equivalent_logic1_elt |= element m:equivalent {MathML.Common.attrib,Definition.attrib?}
opel.binder |= equivalent_logic1_elt
opel.application |= not_logic1_elt
not_logic1_elt |= element m:not {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= and_logic1_elt
and_logic1_elt |= element m:and {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= and_logic1_elt
opel.application |= xor_logic1_elt
xor_logic1_elt |= element m:xor {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= xor_logic1_elt
opel.application |= or_logic1_elt
or_logic1_elt |= element m:or {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= or_logic1_elt
opel.application |= implies_logic1_elt
implies_logic1_elt |= element m:implies {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.constant |= true_logic1_elt
true_logic1_elt |= element m:true {MathML.Common.attrib,Definition.attrib?}
opel.constant |= false_logic1_elt
false_logic1_elt |= element m:false {MathML.Common.attrib,Definition.attrib?}
opel.semantic-attribution |= type_mathmltypes_elt
type_mathmltypes_elt |= element m:type {MathML.Common.attrib,Definition.attrib?}

opel.application |= min_minmax1_elt
min_minmax1_elt |= element m:min {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= min_minmax1_elt
opel.application |= max_minmax1_elt
max_minmax1_elt |= element m:max {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= max_minmax1_elt
opel.application |= cartesian_product_multiset1_elt
cartesian_product_multiset1_elt |= element m:cartesianproduct {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
opel.binder |= cartesian_product_multiset1_elt
opel.constant |= emptyset_multiset1_elt
emptyset_multiset1_elt |= element m:emptyset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
opel.application |= map_multiset1_elt
map_multiset1_elt |= element m:map {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
opel.application |= size_multiset1_elt
size_multiset1_elt |= element m:card {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
opel.application |= suchthat_multiset1_elt
suchthat_multiset1_elt |= element m:suchthat {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
opel.application |= multiset_multiset1_elt
multiset_multiset1_elt |= element m:multiset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"},ContExp*}
multiset_multiset1_elt |= element m:multiset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"},bvar*,qualifier?,ContExp*}
container |= multiset_multiset1_elt
opel.application |= intersect_multiset1_elt
intersect_multiset1_elt |= element m:intersect {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
opel.binder |= intersect_multiset1_elt
opel.application |= union_multiset1_elt
union_multiset1_elt |= element m:union {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
opel.binder |= union_multiset1_elt
opel.application |= setdiff_multiset1_elt
setdiff_multiset1_elt |= element m:setdiff {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
opel.application |= subset_multiset1_elt
subset_multiset1_elt |= element m:subset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
opel.binder |= subset_multiset1_elt
opel.application |= in_multiset1_elt
in_multiset1_elt |= element m:in {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
opel.application |= notin_multiset1_elt
notin_multiset1_elt |= element m:notin {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
opel.application |= prsubset_multiset1_elt
prsubset_multiset1_elt |= element m:prsubset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
opel.binder |= prsubset_multiset1_elt
opel.application |= notsubset_multiset1_elt
notsubset_multiset1_elt |= element m:notsubset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
opel.application |= notprsubset_multiset1_elt
notprsubset_multiset1_elt |= element m:notprsubset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}

opel.application |= rational_nums1_elt
rational_nums1_elt |= element m:rational {MathML.Common.attrib,Definition.attrib?}
opel.constant |= infinity_nums1_elt
infinity_nums1_elt |= element m:infinity {MathML.Common.attrib,Definition.attrib?}
opel.constant |= e_nums1_elt
e_nums1_elt |= element m:exponentiale {MathML.Common.attrib,Definition.attrib?}
opel.constant |= i_nums1_elt
i_nums1_elt |= element m:imaginaryi {MathML.Common.attrib,Definition.attrib?}
opel.constant |= pi_nums1_elt
pi_nums1_elt |= element m:pi {MathML.Common.attrib,Definition.attrib?}
opel.constant |= gamma_nums1_elt
gamma_nums1_elt |= element m:eulergamma {MathML.Common.attrib,Definition.attrib?}
opel.constant |= NaN_nums1_elt
NaN_nums1_elt |= element m:notanumber {MathML.Common.attrib,Definition.attrib?}
opel.constant |= omtype_omtypes_elt
omtype_omtypes_elt |= element m:omtype {MathML.Common.attrib,Definition.attrib?}
opel.constant |= integer_omtypes_elt
integer_omtypes_elt |= element m:integer {MathML.Common.attrib,Definition.attrib?}
opel.constant |= float_omtypes_elt
float_omtypes_elt |= element m:float {MathML.Common.attrib,Definition.attrib?}
opel.constant |= string_omtypes_elt
string_omtypes_elt |= element m:string {MathML.Common.attrib,Definition.attrib?}
opel.constant |= bytearray_omtypes_elt
bytearray_omtypes_elt |= element m:bytearray {MathML.Common.attrib,Definition.attrib?}
opel.application |= piecewise_piece1_elt
piecewise_piece1_elt |= element m:piecewise {MathML.Common.attrib,Definition.attrib?,ContExp*}
piecewise_piece1_elt |= element m:piecewise {MathML.Common.attrib,Definition.attrib?,bvar*,qualifier?,ContExp*}
container |= piecewise_piece1_elt
opel.application |= piece_piece1_elt
piece_piece1_elt |= element m:piece {MathML.Common.attrib,Definition.attrib?,ContExp*}
piece_piece1_elt |= element m:piece {MathML.Common.attrib,Definition.attrib?,bvar*,qualifier?,ContExp*}
container |= piece_piece1_elt
opel.application |= otherwise_piece1_elt
otherwise_piece1_elt |= element m:otherwise {MathML.Common.attrib,Definition.attrib?,ContExp*}
otherwise_piece1_elt |= element m:otherwise {MathML.Common.attrib,Definition.attrib?,bvar*,qualifier?,ContExp*}
container |= otherwise_piece1_elt
opel.binder |= forall_quant1_elt
forall_quant1_elt |= element m:forall {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= exists_quant1_elt
exists_quant1_elt |= element m:exists {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= eq_relation1_elt
eq_relation1_elt |= element m:eq {MathML.Common.attrib,Definition.attrib?}
opel.binder |= eq_relation1_elt
opel.application |= lt_relation1_elt
lt_relation1_elt |= element m:lt {MathML.Common.attrib,Definition.attrib?}
opel.binder |= lt_relation1_elt
opel.application |= gt_relation1_elt
gt_relation1_elt |= element m:gt {MathML.Common.attrib,Definition.attrib?}
opel.binder |= gt_relation1_elt
opel.application |= neq_relation1_elt
neq_relation1_elt |= element m:neq {MathML.Common.attrib,Definition.attrib?}
opel.application |= leq_relation1_elt
leq_relation1_elt |= element m:leq {MathML.Common.attrib,Definition.attrib?}
opel.binder |= leq_relation1_elt
opel.application |= geq_relation1_elt
geq_relation1_elt |= element m:geq {MathML.Common.attrib,Definition.attrib?}
opel.binder |= geq_relation1_elt
opel.application |= approx_relation1_elt
approx_relation1_elt |= element m:approx {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= approx_relation1_elt
opel.application |= ceiling_rounding1_elt
ceiling_rounding1_elt |= element m:ceiling {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= floor_rounding1_elt
floor_rounding1_elt |= element m:floor {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= trunc_rounding1_elt
trunc_rounding1_elt |= element m:trunc {MathML.Common.attrib,Definition.attrib?}
opel.application |= round_rounding1_elt
round_rounding1_elt |= element m:round {MathML.Common.attrib,Definition.attrib?}
opel.application |= mean_s_data1_elt
mean_s_data1_elt |= element m:mean {MathML.Common.attrib,Definition.attrib?}
opel.application |= sdev_s_data1_elt
sdev_s_data1_elt |= element m:sdev {MathML.Common.attrib,Definition.attrib?}
opel.application |= variance_s_data1_elt
variance_s_data1_elt |= element m:variance {MathML.Common.attrib,Definition.attrib?}
opel.application |= mode_s_data1_elt
mode_s_data1_elt |= element m:mode {MathML.Common.attrib,Definition.attrib?}
opel.application |= median_s_data1_elt
median_s_data1_elt |= element m:median {MathML.Common.attrib,Definition.attrib?}
opel.application |= moment_s_data1_elt
moment_s_data1_elt |= element m:moment {MathML.Common.attrib,Definition.attrib?}
opel.application |= mean_s_dist1_elt
mean_s_dist1_elt |= element m:mean {MathML.Common.attrib,Definition.attrib?}
opel.application |= sdev_s_dist1_elt
sdev_s_dist1_elt |= element m:sdev {MathML.Common.attrib,Definition.attrib?}
opel.application |= variance_s_dist1_elt
variance_s_dist1_elt |= element m:variance {MathML.Common.attrib,Definition.attrib?}
opel.application |= moment_s_dist1_elt
moment_s_dist1_elt |= element m:moment {MathML.Common.attrib,Definition.attrib?}
opel.application |= cartesian_product_set1_elt
cartesian_product_set1_elt |= element m:cartesianproduct {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.binder |= cartesian_product_set1_elt
opel.constant |= emptyset_set1_elt
emptyset_set1_elt |= element m:emptyset {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.application |= map_set1_elt
map_set1_elt |= element m:map {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.application |= size_set1_elt
size_set1_elt |= element m:card {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.application |= suchthat_set1_elt
suchthat_set1_elt |= element m:suchthat {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.application |= set_set1_elt
set_set1_elt |= element m:set {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?,ContExp*}
set_set1_elt |= element m:set {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?,bvar*,qualifier?,ContExp*}
container |= set_set1_elt
opel.application |= intersect_set1_elt
intersect_set1_elt |= element m:intersect {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.binder |= intersect_set1_elt
opel.application |= union_set1_elt
union_set1_elt |= element m:union {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.binder |= union_set1_elt
opel.application |= setdiff_set1_elt
setdiff_set1_elt |= element m:setdiff {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.application |= subset_set1_elt
subset_set1_elt |= element m:subset {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.binder |= subset_set1_elt
opel.application |= in_set1_elt
in_set1_elt |= element m:in {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.application |= notin_set1_elt
notin_set1_elt |= element m:notin {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.application |= prsubset_set1_elt
prsubset_set1_elt |= element m:prsubset {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.binder |= prsubset_set1_elt
opel.application |= notsubset_set1_elt
notsubset_set1_elt |= element m:notsubset {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.application |= notprsubset_set1_elt
notprsubset_set1_elt |= element m:notprsubset {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.constant |= P_setname1_elt
P_setname1_elt |= element m:primes {MathML.Common.attrib,Definition.attrib?}
opel.constant |= N_setname1_elt
N_setname1_elt |= element m:naturalnumbers {MathML.Common.attrib,Definition.attrib?}
opel.constant |= Z_setname1_elt
Z_setname1_elt |= element m:integers {MathML.Common.attrib,Definition.attrib?}
opel.constant |= rationials_setname1_elt
rationials_setname1_elt |= element m:rationals {MathML.Common.attrib,Definition.attrib?}
opel.constant |= R_setname1_elt
R_setname1_elt |= element m:reals {MathML.Common.attrib,Definition.attrib?}
opel.constant |= complexes_setname1_elt
complexes_setname1_elt |= element m:complexes {MathML.Common.attrib,Definition.attrib?}
opel.application |= log_transc1_elt
log_transc1_elt |= element m:log {MathML.Common.attrib,Definition.attrib?}
opel.application |= ln_transc1_elt
ln_transc1_elt |= element m:ln {MathML.Common.attrib,Definition.attrib?}
opel.application |= exp_transc1_elt
exp_transc1_elt |= element m:exp {MathML.Common.attrib,Definition.attrib?}
opel.application |= sin_transc1_elt
sin_transc1_elt |= element m:sin {MathML.Common.attrib,Definition.attrib?}
opel.application |= cos_transc1_elt
cos_transc1_elt |= element m:cos {MathML.Common.attrib,Definition.attrib?}
opel.application |= tan_transc1_elt
tan_transc1_elt |= element m:tan {MathML.Common.attrib,Definition.attrib?}
opel.application |= sec_transc1_elt
sec_transc1_elt |= element m:sec {MathML.Common.attrib,Definition.attrib?}
opel.application |= csc_transc1_elt
csc_transc1_elt |= element m:csc {MathML.Common.attrib,Definition.attrib?}
opel.application |= cot_transc1_elt
cot_transc1_elt |= element m:cot {MathML.Common.attrib,Definition.attrib?}
opel.application |= sinh_transc1_elt
sinh_transc1_elt |= element m:sinh {MathML.Common.attrib,Definition.attrib?}
opel.application |= cosh_transc1_elt
cosh_transc1_elt |= element m:cosh {MathML.Common.attrib,Definition.attrib?}
opel.application |= tanh_transc1_elt
tanh_transc1_elt |= element m:tanh {MathML.Common.attrib,Definition.attrib?}
opel.application |= sech_transc1_elt
sech_transc1_elt |= element m:sech {MathML.Common.attrib,Definition.attrib?}
opel.application |= csch_transc1_elt
csch_transc1_elt |= element m:csch {MathML.Common.attrib,Definition.attrib?}
opel.application |= coth_transc1_elt
coth_transc1_elt |= element m:coth {MathML.Common.attrib,Definition.attrib?}
opel.application |= arcsin_transc1_elt
arcsin_transc1_elt |= element m:arcsin {MathML.Common.attrib,Definition.attrib?}
opel.application |= arccos_transc1_elt
arccos_transc1_elt |= element m:arccos {MathML.Common.attrib,Definition.attrib?}
opel.application |= arctan_transc1_elt
arctan_transc1_elt |= element m:arctan {MathML.Common.attrib,Definition.attrib?}
opel.application |= arcsec_transc1_elt
arcsec_transc1_elt |= element m:arcsec {MathML.Common.attrib,Definition.attrib?}
opel.application |= arccsc_transc1_elt
arccsc_transc1_elt |= element m:arccsc {MathML.Common.attrib,Definition.attrib?}
opel.application |= arccot_transc1_elt
arccot_transc1_elt |= element m:arccot {MathML.Common.attrib,Definition.attrib?}
opel.application |= arcsinh_transc1_elt
arcsinh_transc1_elt |= element m:arcsinh {MathML.Common.attrib,Definition.attrib?}
opel.application |= arccosh_transc1_elt
arccosh_transc1_elt |= element m:arccosh {MathML.Common.attrib,Definition.attrib?}
opel.application |= arctanh_transc1_elt
arctanh_transc1_elt |= element m:arctanh {MathML.Common.attrib,Definition.attrib?}
opel.application |= arcsech_transc1_elt
arcsech_transc1_elt |= element m:arcsech {MathML.Common.attrib,Definition.attrib?}
opel.application |= arccsch_transc1_elt
arccsch_transc1_elt |= element m:arccsch {MathML.Common.attrib,Definition.attrib?}
opel.application |= arccoth_transc1_elt
arccoth_transc1_elt |= element m:arccoth {MathML.Common.attrib,Definition.attrib?}
opel.application |= divergence_veccalc1_elt
divergence_veccalc1_elt |= element m:divergence {MathML.Common.attrib,Definition.attrib?}
opel.application |= grad_veccalc1_elt
grad_veccalc1_elt |= element m:grad {MathML.Common.attrib,Definition.attrib?}
opel.application |= curl_veccalc1_elt
curl_veccalc1_elt |= element m:curl {MathML.Common.attrib,Definition.attrib?}
opel.application |= Laplacian_veccalc1_elt
Laplacian_veccalc1_elt |= element m:laplacian {MathML.Common.attrib,Definition.attrib?}
